# Node modules
node_modules

# Logs
*.log
npm-debug.log*

# Keep environment variables out of version control
.env

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/
coverage/

# Directory to ignore
public/
prisma/migrations/

# TypeScript build info
tsconfig.tsbuildinfo